@import "tachyons.css";
@import "tachyons-grid.css";

$dark-orange: #b34a00;
$washed-yellow: #faf7f5;
$dark-green: #418086;
$link: $dark-orange;

body {
  overflow-x: hidden;
  background-color: #fff;
  background: #fff url(/images/bg.png) repeat;
  color: #333;
  font-weight: 300;
  font-family: "Barlow", -apple-system, BlinkMacSystemFont, "Avenir Next",
    "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica",
    "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
}

header {
  h1,
  h2 {
    display: inline-block;
    font-size: 1rem;
  }
  h1 {
    text-transform: uppercase;
    font-weight: 700;
    a {
      text-decoration: none;
    }
  }
}

p {
  font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
  max-width: 40em;
}

a {
  color: $link;
  transition: color 0.2s ease;

  &:focus,
  &:hover {
    color: $dark-green;
  }
}

.index-article {
  position: relative;
  figure {
    max-width: 300px;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 1s ease;
    z-index: -1;
  }
  &:hover {
    figure {
      opacity: 1;
    }
  }
}

.articles_list {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
}

.distort {
  overflow: hidden;
  position: absolute;
  pointer-events: none;
  will-change: transform;
}
.distort__img {
  opacity: 0;
}

.articles {
  display: block;
  width: 100%;
  margin: 0 auto;
  font-size: 2rem;
  z-index: 999;
  font-weight: normal;
}

.articles a {
  transition: color 0.5s ease;
  &:hover,
  &:focus {
    color: $dark-orange;
  }
}
.article_link {
  z-index: 999;
  display: block;
  position: relative;
  white-space: nowrap;
  margin-left: -7rem;
  @media screen and (max-width: 30em) {
    margin-left: -3.5rem;
  }
  span {
    display: inline-block;
    min-width: 1rem;
    @media screen and (max-width: 30em) {
      min-width: 0.5rem;
    }
  }
}

.assignment {
  h1 {
    font-weight: normal;
  }
  p + h2 {
    margin-top: 2.5rem;
  }
}
